<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>
      {% if is_login %}Login ｜
      {% elif is_tag %}{{ tag }} ｜
      {% elif post %}{{ post.title }} ｜
      {% endif %}
      {{ site.name }}
    </title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="assets/css/style.css">

    {{ header_meta }}

    {% if site.analytics %}
    <script>
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', '{{ site.analytics }}']);
    _gaq.push(['_trackPageview']);
    (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
    </script>
    {% endif %}
  </head>
  <body>

    {% if is_login %}
      {{ login_form }}
    {% else %}

    <div class="wrapper row">
      <div class="col-md-3 side">
        <div class="widget widget-logo">
            <img src="{{ site.logo }}" alt="{{ site.name }}" />
            <p>{{ site.bio }}</p>
        </div>
        <div class="widget widget-social">
          <ul class="social-links">
            {% if site.twitter %}
            <li>
              <a href="{{ site.twitter }}" title="Twitter" target="_blank">
                <i class="icon-twitter"></i>
              </a>
            </li>
            {% endif %}
            {% if site.facebook %}
            <li>
              <a href="{{ site.facebook }}" title="Facebook" target="_blank">
                <i class="icon-facebook"></i>
              </a>
            </li>
            {% endif %}
            {% if site.googleplus %}
            <li>
              <a href="{{ site.googleplus }}?rel=author" title="Google+" target="_blank">
                <i class="icon-google-plus"></i>
              </a>
            </li>
            {% endif %}
            {% if site.linkedin %}
            <li>
              <a href="{{ site.linkedin }}" title="LinkedIn" target="_blank">
                <i class="icon-linkedin"></i>
              </a>
            </li>
            {% endif %}
            <li>
              <a href="{{ site.atom_url }}" title="RSS" target="_blank">
                <i class="icon-rss"></i>
              </a>
            </li>
          </ul>
        </div>
        <div class="widget widget-nav">
            <ul class="nav-menu">
              <li><a href="/">Home</a></li>
              {% if pages %}
              {% for page in pages %}
              <li><a href="{{ page.url }}" class="{{ set_active(page.url) }}">{{ page.title }}</a></li>
              {% endfor %}
              {% endif %}
            </ul>
        </div>
      </div>
      <div class="col-md-9 main">
        <div class="content">
          {% if is_home or is_tag %}
            {% if is_tag %}
            <h2 class="tag-header">Showing all posts tagged {{ tag }}:</h2>
            {% endif %}

            {% if posts %}
            <section itemscope itemtype="http://schema.org/Blog" class="blog-feed">
            {% for post in posts %}
              <article itemprop="blogPosts" itemscope itemtype="http://schema.org/BlogPosting" class="blog-post feed-item post-type-{{ post.type }} {% if post.tags %}
                    {% for tag in post.tags %}
                    post-tag-{{ tag }}
                    {% endfor %}
                {% endif %}">
                <header class="post-header">
                  <h2 class="post-title">
                    <a href="{{ post.url }}">{{ post.title }}</a>
                  </h2>
                </header>
                <div class="post-body">
                  <div class="post-content">
                    <div data-type-cleanup="true">
                      {{ post.content }}
                    </div>
                    {% if post.type == 'link' or post.type == 'webclip' %}
                    <span class="post-link-url"><i class="icon-share"></i> <a href="{{ post.link_url }}" target="_blank">{{ post.link_url }}</a></span>
                    {% endif %}
                  </div>
                </div>
                <div class="post-metadata">
                  <time datetime="{{ post.created_at }}" class="post-date">{{ post.created_at|date_format }}</time>
                  <a href="{{ post.url }}{% if site.disqus %}{% endif %}" class='dsq-comment-count comment-link commentslink'></a>
                  {% if post.tags %}
                  <span class="post-tags">
                    {{- post.tags|format_tags(humanize=True) -}}
                  </span>
                  {% endif %}
                </div>
              </article>
            {% endfor %}
            </section>
            {% if site.disqus %}
            <script type="text/javascript">
            var disqus_shortname = '{{ site.disqus }}';
            (function() {
              var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
              dsq.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
              (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
            </script>
            {% endif %}
            {% else %}
            <div class="blog-feed">
              <h2 class="title"><em>No posts yet :(</em></h2>
            </div>
            {% endif %}

            {% if pagination.prev or pagination.next %}
            <div class="blog-pagination">
              {% if pagination.prev %}<a href="{{ pagination.prev }}" title="Newer Posts" class="pagination-newer">&larr; Newer Posts</a>{% endif %}
              {% if pagination.next %}<a href="{{ pagination.next }}" title="Previous Posts" class="pagination-older">Previous Posts &rarr;</a>{% endif %}
            </div>
            {% endif %}

            {% elif post %}

            <article itemscope itemtype="http://schema.org/BlogPosting" class="blog-post post-single">
              <section class="post-body">
                <header class="post-header">
                  <div class="header-top">
                    <h1 class="post-title">{{ post.title }}</h1>
                  </div>
                  <div class="post-metadata">
                    <p class="post-byline left">Published by {{ site.author }}</p>
                    <p class="right"><time datetime="{{ post.created_at }}" class="post-date">{{ post.created_at|date_format }}</time></p>
                  </div>
                </header>
                <div class="post-content">
                  <div data-type-cleanup="true">
                    {{ post.content }}
                  </div>
                  {% if post.type == 'link' or post.type == 'webclip' %}
                  <span class="post-link-url"><i class="icon-share"></i> <a href="{{ post.url }}" target="_blank">{{ post.url }}</a></span>
                  {% endif %}
                </div>

                {{ theme.social.bar }}

                {% if post.tags %}
                <div class="post-tags">
                  {{- post.tags|format_tags(humanize=True) -}}
                </div>
                {% endif %}
              </section>
              {% if site.disqus %}
              <section class="comments">
                <hr class="large" />
                <div id="disqus_thread"></div>
                <script type="text/javascript">
                var disqus_shortname = '{{ site.disqus }}';
                var disqus_url = '{{site.base_url}}{{ post.url }}';
                (function() {
                  var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                  dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
                  (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                })();
                </script>
                <noscript>
                  Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a>
                </noscript>
                <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
              </section>
              {% endif %}
            </article>

          {% elif post.type == 'page' %}

            <div class="blog-page">
              <h1 class="page-title">{{ page.title }}</h1>
              <div class="page-content" data-type-cleanup="true">
                {{ page.content }}
              </div>
            </div>

          {% endif %}
        </div>
      </div>
    </div>

    {% endif %}

    {{ footer_meta }}

  </body>
</html>

