* { margin: 0; padding: 0; }

body { background: #F1F2F3; font: 14px/1.5 "PT Sans","Hiragino Sans GB","Microsoft Yahei","Helvetica Neue",sans-serif; }
a { color: #444; transition: all .2s; }
a:hover { color: #1ABC9C; }

.wrapper { margin: 0 auto; padding-top: 3em; max-width: 900px; }
.side { border-left: 1px solid #EEE; }

.widget {
	li { list-style: none; }
}
	.widget-logo {
		img { display: block; margin: 0 auto 1em; width: 80px; }
		h1 { font-size: 24px; color: #222; font-weight: 700; text-align: center; }
		p { color: #999; }
	}

.blog-feed {
	article {
		margin-bottom: 2px; padding: 15px; background: #FFF;
		.post-icon { position: absolute; margin-left: -70px; margin-top: -20px; display: block; width: 60px; height: 60px; border-radius: 30px; }
		h2 {
			margin: 0 0 8px; font-size: 16px; font-weight: 700;
			a { text-decoration: none; }
		}
		.post-body {
			font-size: 13px; color: #666;
			p { margin: 0 0 5px; }
		}
		.post-metadata {
			font-size: 10px; color: #A7A7A7; text-transform: uppercase;
			a { color: #A7A7A7; margin-left: .5em; }
			.post-date { margin-left: 0; }
		}
	}
}